/* The advanced css in this project was made possible from studying CSS in Depth by Keith J. Grant */

/* :root Means the entire page (Grant, 2018) */

/* box-sizing: border-box; sets the combined size of the content, padding, and border (Grant, 2018). Padding will no longer affect the height and width */
:root {
    /* Helps font scale smoothly as the browser scales 
        0.5em acts as a minimum font size
        1vw adds the responsive scaling factor
    */
    font-size: calc(0.6em + 1vw);
    --main-font: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* Global */

*,
::before,
::after {
    box-sizing: inherit;
    margin-top: 1em;
}

body {
    background-color: gainsboro;
    margin: 0;
    min-height: 100vh;
    font-family: var(--main-font);
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

h3 {
    font-weight: lighter;
}

.hero-text, 
.portfolio-text, 
.contact-text {
    padding: 0 2.5em;
    line-height: 1.5em;
}

/* Header */
header {
    margin-bottom: 3em;
}

div.header-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header-navigation a > li {
    background-color: white;
    padding: 1em 1em;
    margin: .5em;
}
ul {
    padding: 0;
}

.profile-img {
    width: 285px;
    height: auto;
}



/* Main */

/* Fixes IE bug that renders main as an inline element (Grant, 2018) */
main {
    display: block;
    background-color: white;
    padding: 2em 0;
}

.portfolio {
    margin: 0 auto;
}

article > img {
    width: 375px;
    height: auto;
}

/* Contact Form */
.contact {
    margin: 3em 0;
}
.contact-header {
    font-weight: bold;
}
.contact-text {
    margin: 1.5em 0;
}
.contact-info {
    letter-spacing: .1rem;
}
strong {
    margin-left: .5em;
}

/* Footer */
.footer-navigation {
    display: none;
}
.footer-navbar {
    display: flex;
    justify-content: space-between;
    margin: 1em 1em;
    border-top: 1px solid rgb(208, 208, 208);
}
/* Tablet */
@media screen and (min-width: 768px) {
/* Header */
.header-navigation, .nav-links, .hero {
    margin-top: 0;
}
.header-navigation a {
    display: inline-block;
    margin-top: 0;
}
.header-navigation a > li {
    background-color: transparent;
}

.hero {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2em;
}
.hero-text {
    text-align: left;
}

/* Main */
.portfolio {
    padding: 2em 1em;
}

.portfolio-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.portfolio-article-1, 
.portfolio-article-3, 
.portfolio-article-5 {
    max-width: 50%;
}
.portfolio-article-2, 
.portfolio-article-4, 
.portfolio-article-6 {
   max-width: 50%;
}
.portfolio-text {
    padding: 0;
}
.contact-text {
    padding: 0 6em;
}
/* Footer */

.footer-navigation {
    display: inline-block;
}
.footer-navigation, .footer-navigation ul > a {
    margin-top: 0;
}
.footer-navigation ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-left: 14em;
}
.btt {
    display: none;
}
/* Desktop */
@media screen and (mid-width: 1024px) {
/* Header */

/* Main */

/* Footer */
}