/* The advanced css in this project was made possible from studying CSS in Depth by Keith J. Grant */

/* :root Means the entire page */
:root {
    /* Helps font scale smoothly as the browser scales 
        0.5em acts as a minimum font size
        1vw adds the responsive scaling factor
    */
    font-size: calc(0.5em + 1vw);
    --main-font: 'Montserrat', sans-serif;
}
/* Fixes IE bug that renders main as an inline element */
main {
    display: block;
}